.wrap{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: block;
}
.col{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey ;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    transition: all 0.5s ease-in-out;
}
.col:hover{
    transform: translateX(40px) translateY(40px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row .col:nth-child(2){
    margin: 0 5%;
}
.row .col:first-child .sana{
    background-color: indianred;
}
.sana{
    padding: 5rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold ;
    background-color: #7de29e;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.text-sana{
    padding: 1.5rem 0;
    text-align: center;
}
.row2{
    width: 100%;
    display: block;
}
.col2{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey ;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    transition: all 0.5s ease-in-out;
}
.col2:hover{
    transform: translateX(40px) rotateZ(360deg);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row2 .col2:nth-child(2){
    margin: 0 5%;
}
